<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title><%= "#{ resume.contact.name } - #{ resume.contact.title }" %></title>
  <style>
    html {
      font: normal 16px/20px sans-serif, serif;
      max-width: 90%;
      margin: 2rem auto;
    }
    h1 { font-size: 1.6rem; line-height: 1.8rem; color: #000; }
    h2 { font-size: 1.5rem; line-height: 1.7rem; color: #222; }
    h3 { font-size: 1.4rem; line-height: 1.6rem; color: #444; }
    h4 { font-size: 1.3rem; line-height: 1.5rem; color: #555; }
    h5 { font-size: 1.2rem; line-height: 1.4rem; color: #666; }
    h6 { font-size: 1.1rem; line-height: 1.3rem; color: #777; }
    .text-right { text-align: right; }

    .job {
      border-bottom: 1px solid #666;
    }
    .project {}
  </style>
</head>
<body>
  <header>
    <h1><%= "#{ resume.contact.name } - #{ resume.contact.title }" %></h1>
    <div class="text-right">
      <a href="mailto:<%= resume.contact.email %>" class="email"><%= resume.contact.email %></a><br>
      <a href="tel:<%= resume.contact.phone %>" class="phone"><%= resume.contact.phone %></a>
    </div>
  </header>

  <section id="jobs">
    <h2>Work Experience</h2>
  <% resume.jobs.each do |job| %>
    <article class="job">
      <header>
        <h3><%= "#{ job.position } &mdash; #{ job.company }" %></h3>
      </header>
      <p><%= job.summary.chomp %></p>
    <% job.projects.each do |project| %>
      <article class="project">
        <h4><%= project.name %></h4>

        <h5>Skills</h5>
        <ul class="skills">
        <% project.skills.each do |tech| %>
          <li><%= tech %></li>
        <% end %>
        </ul>

        <h5>Tasks</h5>
        <ul class="tasks">
        <% project.tasks.each do |task| %>
          <li><%= task %></li>
        <% end %>
        </ul>
      </article>
    <% end %>
    </article>
  <% end %>
  </section>
</body>
</html>
