\documentclass{article}

\title{<%= resume.contact.name %>}
\author{<%= resume.contact.name %>}

\begin{document}

\maketitle

\section{\centerline{Proffesional Experience}}

\vspace{8pt}

<% resume.jobs.each do |job| %>

\subsection{<%= job.company %> -- <%= job.position %>}
\hfill <%= job.start_date %> -- <%= job.end_date or 'present' %>

<%- if job.summary %><%= job.summary %><% end -%>

<% job.projects.each do |project| %>
\subsubsection{<%= project.name %>}

<%- if project.summary %><%= project.summary %><% end -%>


\noindent Skills

\begin{itemize}
<% project.skills.each do |tech| %>
  \item <%= tech %>
<% end %>
\end{itemize}

\noindent Tasks

\begin{itemize}
<% project.tasks.each do |task| %>
  \item <%= task %>
<% end %>
\end{itemize}
<% end %>
<% end %>

\section{\centerline{Personal Projects}}

\vspace{8pt}

<%- if resume.personal and resume.personal.summary %>
<%= resume.personal.summary %>
<% end -%>

<% resume.personal.projects.each do |project| %>
\subsubsection{<%= project.name %>}

<%- if project.summary %><%= project.summary %><% end -%>

\noindent Skills

\begin{itemize}
<% project.skills.each do |tech| %>
  \item <%= tech %>
<% end %>
\end{itemize}
<% end %>
\end{document}
