body {
  font: normal 16px/20px sans-serif;
  width: 90%;
  margin: 1rem auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.75rem;
  margin: 0.15rem 0;
}

h1 { color: #000; }
h2 { color: #222; margin: 0.3rem 0 0.75rem; }
h3 { color: #444; }
h4 { color: #555; }
h5 { color: #666; }
h6 { color: #777; }

p { margin: 0.5rem 0; }
ul { margin: 0; padding-left: 1rem; }

main {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3rem 10rem 0.5fr 1fr;
  grid-template-areas:
    "header header header"
    "aboutme aboutme contact"
    "attributes attributes attributes"
    "experience experience experience"
  ;
}

main header { grid-area: header; }
main section#about_me { grid-area: aboutme; }
main nav#contact {
  grid-area: contact;
  border-left: 4px solid #aaa;
  border-radius: 5px;
}
main section#attributes { grid-area: attributes; }
main section#experience { grid-area: experience; }

main section#attributes {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "skills projects accomplishments";
}

.skills { grid-area: skills; }
.projects { grid-area: projects; }
.accomplishments { grid-area: accomplishments; }

main nav#contact ul li { margin: 1rem 0; }

.tasks {
  margin: 0.75rem 0;
}

.svg-icon { max-width: 16px; max-height: 16px; }

.style-none { list-style-type: none; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.bigger { font-size: 1.25rem; }
.big { font-size: 1.15rem; }
.small { font-size: 0.85rem; }
.smaller { font-size: 0.75rem; }

@media print {
  body {
    font-size: 13px;
    line-height: 17px;
  }
}
