<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= "#{ resume.contact.name } - #{ resume.contact.title }" %></title>
  <link rel="stylesheet" href="cv.css">
</head>
<body>
  <main>
    <header class="text-center">
      <h1><%= resume.contact.name %></h1>
    </header>

    <section id="about_me">
      <h4 class="text-center">About me</h4>

      <p>Lorem aut id laboriosam eos officia repellendus vel veniam Commodi velit nobis neque debitis repellendus Quod perspiciatis similique atque error sint! Magnam sint consequuntur blanditiis sint officia Iste ducimus quisquam?

      <p>Lorem aut id laboriosam eos officia repellendus vel veniam Commodi velit nobis neque debitis repellendus Quod perspiciatis similique atque error sint! Magnam sint consequuntur blanditiis sint officia Iste ducimus quisquam?
    </section>

    <nav id="contact">
      <ul class="style-none">
        <li>
          &#9993;
          <a href="mailto:<%= resume.contact.email %>" class="email">
            <%= resume.contact.email %>
          </a>
        </li>
        <li>
          &#9990;
          <a href="tel:<%= resume.contact.phone %>" class="phone">
            <%= resume.contact.phone %>
          </a>
        </li>
        <li>
          <a href="<%= resume.contact.links['gitlab'] %>" class="gitlab">
            <img class="svg-icon" src="images/gitlab.svg" /></a>
          <a href="<%= resume.contact.links['github'] %>" class="github">
            <img class="svg-icon" src="images/github.svg" /></a>
          john2000
        </li>
      </ul>
    </nav>

    <section id="attributes">
      <article class="skills">
        <h3 class="text-center">Skills</h3>
        Some of the skills I've used recently:
<% skills = [] %>
<% resume.jobs.each {|j| j.projects.each {|p| p.skills.each {|t| skills << t }}} %>
<% skills = skills.uniq %>
        <p><%= skills[0..20].join(', ') %></p>
      </article>

      <article class="projects">
        <h3 class="text-center">Projects</h3>
        <ul>
      <% resume.personal.projects.each do |project| %>
          <li>
            <%= project.summary %>
            <%- if project.repo %>[<a href="project.repo">repo</a>]<% end -%>
            <%- if project.url %>[<a href="project.url">url</a>]<% end -%>
          </li>
      <% end %>
        </ul>
      </article>

      <article class="accomplishments">
        <h3 class="text-center">Accomplishments</h3>
        <p>Consectetur velit dolorum aut praesentium similique Atque veritatis cumque perspiciatis nam corrupti. Doloremque neque repudiandae minus officia modi In blanditiis nam quos tempore dolor laborum? Eligendi ipsam vitae ab necessitatibus
      </article>
    </section>

    <section id="experience">
      <h2 class="text-center">Professional experience</h2>
      <hr>
    <% resume.jobs.each_with_index do |job, i| %>
      <%- if i < 2 then %>
      <article class="job">
        <header>
          <h3>
            <%= "#{ job.position } &mdash; #{ job.company }" %>
            <span class="smaller">
              <%= job.start_date %> / <%= job.end_date or 'present' %>
            </span>
          </h3>
        </header>

        <ul>
        <% job.projects.each do |project| %>
          <li>
            <%= project.summary or 'No summary' %>
          </li>
        <% end %>
        </ul>
      </article>
      <% else %>
        <h5>
          <%= "#{ job.position } &mdash; #{ job.company }" %>
          <span class="smaller">
            <%= job.start_date %> / <%= job.end_date or 'present' %>
          </span>
        </h5>
      <% end -%>
    <% end %>
    </section>
  </main>
</body>
</html>
